<div class="contact-container">
  <div banner view="'ABOUT'"></div>
  <!--about start here-->
  <div class="about">
    <div class="container">
      <div class="about-main">
        <!--<div class="about-top">-->
          <!--<h2>{{'ABOUT_PAGE.TITLE' | translate}}</h2>-->
        <!--</div>-->
        <div class="about-bottom">
          <div class="col-md-6 about-left">
            <img src="images/ab.jpg" alt="" class="img-responsive">
          </div>
          <div class="col-md-6 about-right">
            <p>{{'ABOUT_PAGE.DESCRIPTION.P1' | translate}}</p>
            <p>{{'ABOUT_PAGE.DESCRIPTION.P2' | translate}}</p>
            <p>{{'ABOUT_PAGE.DESCRIPTION.P3' | translate}}</p>
            <p>{{'ABOUT_PAGE.DESCRIPTION.P4' | translate}}</p>
            <p>{{'ABOUT_PAGE.DESCRIPTION.P5' | translate}}</p>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
  </div>
  <!--about end here-->
  <!--advantage start here-->
  <div class="advantages">
    <div class="container">
      <div class="advantages-main">
        <div class="col-md-3 fact-grid">
          <div class="col-md-2 cord-drop">
            <span class="numbers">1</span>
          </div>
          <div class="col-md-10 feature-text">
            <h4>{{'ABOUT_PAGE.ADVANTAGES.1' | translate}}</h4>
            <span class="pencil-rule-icon"></span>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="col-md-3 fact-grid">
          <div class="col-md-2 cord-drop">
            <span class="numbers">2</span>
          </div>
          <div class="col-md-10 feature-text">
            <h4>{{'ABOUT_PAGE.ADVANTAGES.2' | translate}}</h4>
            <span class="draw-icon"></span>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="col-md-3 fact-grid">
          <div class="col-md-2 cord-drop">
            <span class="numbers">3</span>
          </div>
          <div class="col-md-10 feature-text">
            <h4>{{'ABOUT_PAGE.ADVANTAGES.3' | translate}}</h4>
            <span class="chair-icon"></span>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="col-md-3 fact-grid">
          <div class="col-md-2 cord-drop">
            <span class="numbers">4</span>
          </div>
          <div class="col-md-10 feature-text">
            <h4>{{'ABOUT_PAGE.ADVANTAGES.4' | translate}}</h4>
            <span class="fornecedor-icon"></span>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <!--advantages end here-->
  <div newsletter></div>
</div>
