<div class="contact-container">
  <div banner view="'CONTACT'"></div>

  <div class="contact" id="contact">
    <div class="container">
      <div class="contact-main">
        <!--<div class="contact-top">-->
          <!--<h2>{{'CONTACT_US' | translate}}</h2>-->
        <!--</div>-->
        <div class="contact-bottom">
          <div class="col-md-6 contact-left">
            <form action="#" method="post">
              <p>{{'YOUR_NAME' | translate}}</p>
              <input type="text" placeholder="" name="Your Name" required="">
              <p>{{'YOUR_EMAIL' | translate}}</p>
              <input type="text" placeholder="" name="Your Email">
              <p>{{'YOUR_MESSAGE' | translate}}</p>
              <textarea placeholder="" name="Your Message">  </textarea>
              <input type="submit" value="{{'SUBMIT' | translate}}">
            </form>
          </div>
          <div class="col-md-6 contact-right">
            <h4>{{'CONTACT_INFO' | translate}}</h4>
            <p>
              Rua S. João Evangelista, 1322<br>
              4595-077 Eiriz <br>
              Paços de Ferreira - Portugal
            </p>
            <ul>
              <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>41.309508 | -8.376839</li>
              <li><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>+00351 918 642 711</li>
              <li><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>+00352 621 765 499</li>
              <li><a href="mailto:kubitus.rms@gmail.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"> </span> kubitus.rms@gmail.com</a></li>
            </ul>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
  </div>
  <!--map start here-->
  <div class="map">
    <div class="container">
      <div class="map-main">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2996.9708486751924!2d-8.379014584920986!3d41.30949777927137!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd24f347034f1f03%3A0xe79b8f478d16db6e!2sR.+de+S%C3%A3o+Jo%C3%A3o+Evangelista+1322%2C+Eiriz!5e0!3m2!1spt-PT!2spt!4v1479071489796" width="570" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>      </div>
    </div>
  </div>
  <!--map end here-->
</div>
