<!--footer start here-->
<div class="footer">
  <div class="container">
    <div class="footer-wthree">
      <div class="col-md-4 footer-grid">
        <h4>{{'INFORMATION' | translate}}</h4>
        <p> Rua S. João Evangelista, 1322 <br>
          4595-077 Eiriz <br>
          Paços de Ferreira - Portugal</p>
      </div>
      <div class="col-md-4 footer-grid">
        <div class="ftr-icons">
          <div class="ftr-iblock">
            <span class="glyphicon glyphicon-map-marker">  </span>
          </div>
          <div class="ftr-text">
            <p>41.309508 | -8.376839</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="ftr-icons">
          <div class="ftr-iblock">
            <span class="glyphicon glyphicon-earphone">  </span>
          </div>
          <div class="ftr-text">
            <p>+00351 918 642 711</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="ftr-icons">
          <div class="ftr-iblock">
            <span class="glyphicon glyphicon-earphone">  </span>
          </div>
          <div class="ftr-text">
            <p>+00352 621 765 499</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="ftr-icons">
          <div class="ftr-iblock">
            <span class="glyphicon glyphicon-envelope">  </span>
          </div>
          <div class="ftr-text">
            <p><a href="mailto:kubitus.rms@gmail.com">kubitus.rms@gmail.com</a></p>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="col-md-4 footer-grid">
        <h5>{{'FOLLOW' | translate}}</h5>
        <ul class="ftr-social-icons">
          <li><a class="fb" href="#"></a> </li>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!--footer end here-->
