<div banner-slideshow></div>

<!--creative start here-->
<div class="creative">
  <div class="container">
    <div class="creative-main">
      <div class="col-md-6 creative-left">
        <div class="above-creative left">
          <img src="images/main/pic2.png" alt="" class="img-responsive">
        </div>
        <div class="above-creative right">
          <img src="images/main/pic1.png" alt="" class="img-responsive">
        </div>
      </div>
      <div class="col-md-6 creative-right">
        <h4>{{'MAIN_HOME.CUSTOMIZED_SOLUTIONS' | translate}}</h4>
        <p>{{'MAIN_HOME.SOLUTIONS_DESCRIPTION' | translate}}</p>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!--creative end here-->

<!--welcome start here-->
<div class="welcome agileits">
  <div class="container">
    <div class="welcome-main">
      <div class="welcome-top">
        <h4>{{'MAIN_HOME.WELCOME.IMAGINE' | translate}}</h4>
        <p>{{'MAIN_HOME.WELCOME.DESCRIPTION' | translate}}</p>
      </div>
      <div class="welcome-bottom">
        <div class="gallery-container-home">
          <div main-gallery></div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
</div>
<!--welcoome end here-->
<!--work start here-->
<div class="work">
  <div class="container">
    <div class="work-main">
      <h3>{{'MAIN_HOME.WORK.IMPRESSED' | translate}}</h3>
      <div class="work-btns">
        <a href="#/contact">{{'MAIN_HOME.WORK.GET_IN_TOUCH' | translate}}</a>
      </div>
    </div>
  </div>
</div>
<!--work end here-->
<!--look back to our history-->
<div class="history">
  <div class="container">
    <div class="history-main">
      <div class="history-top">
        <h3>{{'MAIN_HOME.HISTORY.TITLE' | translate}}</h3>
      </div>
      <div class="history-bottom">
        <span class="devide-line"> </span>
        <div class="history-block">
          <div class="changer-left  histo-agile">
            <div class="hist-date-strip">
              <div class="hist-date">
                <h4>18 SEP</h4>
              </div>
              <div class="hist-text">
                <a href="single.html"><h5>sint occaecat cupidatat non</h5></a>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="history-info">
              <div class="history-info-left">
                <a href="single.html"><img src="images/main/s1.jpg" alt="" class="img-responsive"></a>
              </div>
              <div class="history-info-right">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="gd-tl-tip"> </div>
          </div>
          <div class="clearfix"> </div>
          <div class="ch-bott1">
            <span class="botted"> </span>
          </div>
        </div>
        <div class="history-block-snd">
          <div class="changer-right-snd">
            <div class="changer-right-snd-strip">
              <div class="changer-right-snd-text">
                <a href="single.html"><h5>sint occaecat cupidatat non</h5></a>
              </div>
              <div class="changer-right-snd-date">
                <h4>30 JUL</h4>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="hist-gallery">
              <div class="hist-gall-grid">
                <a href="single.html"><img src="images/main/s6.jpg" alt="" class="img-responsive"></a>
              </div>
              <div class="hist-gall-grid">
                <a href="single.html"><img src="images/main/s2.jpg" alt="" class="img-responsive"></a>
              </div>
              <div class="hist-gall-grid">
                <a href="single.html"><img src="images/main/s3.jpg" alt="" class="img-responsive"></a>
              </div>
              <div class="hist-gall-grid">
                <a href="single.html"><img src="images/main/s4.jpg" alt="" class="img-responsive"></a>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="gd-tl-tip2"> </div>
          </div>
          <div class="clearfix"> </div>
          <div class="ch-bott1 bott-w3">
            <span class="botted"> </span>
          </div>
        </div>
        <div class="history-block">
          <div class="changer-left">
            <div class="hist-date-strip">
              <div class="hist-date">
                <h4>10 JAN</h4>
              </div>
              <div class="hist-text">
                <a href="single.html"><h5>sint occaecat cupidatat non</h5></a>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="history-info">
              <div class="history-info-left">
                <a href="single.html"><img src="images/main/s5.jpg" alt="" class="img-responsive"></a>
              </div>
              <div class="history-info-right">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="gd-tl-tip3"> </div>
          </div>
          <div class="clearfix"> </div>
          <div class="ch-bott1">
            <span class="botted"> </span>
          </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!--look back to our history-->
<div newsletter></div>
