<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <span class="logo"></span>
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="languages-list">
          <span class="languages-list-sub">
            <span class="pt" ng-click="close('pt')" data-dismiss="modal" aria-hidden="true"> </span>
            <span class="fr" ng-click="close('fr')" data-dismiss="modal" aria-hidden="true"> </span>
            <span class="en" ng-click="close('en')" data-dismiss="modal" aria-hidden="true"> </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
